* {
    font-family: 'Roboto Slab', serif;
    font-family: 'Montserrat', sans-serif;
}
.img-thumbnail {
width: 500px;
height: 650px;

}
.container, main {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  font-size: 22px;
}

header{
width: 100%;}

h2 {
  font-size: 28px ;

}
 /* footer section*/

.fa {
  float: right;
  padding: 10px;
  font-size: 20px;
  width: 35px;
  height: 35px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  }
.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-github {
  background: #0c0d0ee0;
  color: white;
}




/* Portfolio */
.babana-hunting-instruction{
  background-color: rgba(77, 151, 255, 0.25);
  padding: 30px;
  width: 520px;
  height: 402px;
  font-size: 20px; 
}

/* Additional Screen Sizes */

/*  Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px){ 
body,header,.container, main {
  width: 100%;
  font-size: 12px;
  margin: 0;}

.container{
  margin-top: 20px;
}

.img-thumbnail{
  width: 30px;
  height: 50px;
  border-radius: 50%;
  margin: 50px 50px 3px;}

.banana-hunting{
  width:450px;
  height:350px;}

h2,h3{
  font-size: 20px;} 
h2 {
  margin-left: 20px;}

.col-sm-6{
  width: 100%;
  margin: 5px;}

  .form-group {
  margin-top: 10px;}
}


/* Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px){ 
body,header,.container{
  width: 100%;
  font-size: 14px;}

.container{
  margin-top: 10px;
}

.img-thumbnail{
  width: 250px;
  height: 350px;
  border-radius: 90%;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;}

h2,h3{
  font-size: 20px;} 
h2 {
  margin-bottom: 20px;
}
.col-sm-6{
  width: 100%;
  margin: 5px;}

.babana-hunting-instruction{
  margin-bottom: 30px;
  margin-top: 30px;}
}


/* Medium devices (tablets, less than 992px) */
@media only screen and (max-width: 991.98px){
body,header,.container{
  width: 100%;
  font-size: 16px; }

.img-thumbnail{
  width: 300px;
  height: 350px;} 
    
h2,h3{
  font-size: 22px;} 
    
.col{
  width: 100%;
  margin-right:5px ;
  margin-top:5px ;
  padding: 0;}
}

/* Large devices (desktops, less than 1200px) */
@media only screen and (max-width: 1199.98px){
body,header,.container,main{
  width: 100%;
  font-size: 18px;}
}